<div
  class="flex justify-evenly items-center w-full h-[50px] md:h-[25px] overflow-hidden mt-5"
>
  <!-- Hamburger Icon -->
  <img
    src="assets/images/hamburger.svg"
    alt="Hamburger"
    class="w-5 object-contain"
  />

  <!-- Logo -->
  <img
    src="assets/images/ent-logo.svg"
    alt="Logo"
    class="h-full w-auto object-contain"
  />

  <!-- Lock Icon and Login Text -->
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
    <div class="flex justify-center items-end h-full border-b-2 border-black">
      <img
        src="assets/images/lock.png"
        alt="Lock"
        class="h-5 w-auto object-contain mb-1"
      />
      <p class="ml-2">Log in</p>
    </div>
  </a>
</div>
