* {
  margin: 0px;
}

div {
  line-height: 45px;
  text-wrap: wrap;
}

p,
input,
option,
select,
span {
  font-size: 20px;
}

p {
  display: inline;
}

input,
select {
  padding: 2px;
  border-radius: 5px;
  margin-left: 6px;
  margin-right: 6px;
}

input {
  max-height: 35px;
}

input:invalid {
  border: 1px dashed red;
}

input:valid,
select {
  border: 1.5px solid black;
}
