<h3>How much do I need to save for college?</h3>

<div class="!mt-4">
  <form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
    <div class="break-normal flex-wrap flex gap-2 items-center">
      <p>I have&#32;</p>
      <select
        name="numOfChildren"
        id="numOfChildren"
        formControlName="numOfChildren"
        (change)="onChildrenChange()"
        class="text-center"
      >
        @for(item of childrenOptions; track item) {
        <option [value]="item">{{ item }}</option>
        }
      </select>

      @if(numOfChildren !== null && +numOfChildren > 1) {
      <p class="mb-14">&#32;children. Their ages are:&#32;</p>
      } @else {
      <p>&#32;child. Their age is&#32;</p>
      }

      <span formArrayName="ages" class="inline">
        @for(age of ages.controls; track $index) { @if(ages.controls.length > 1
        && $index !== 0) {
        <p class="inline">&#32;and&#32;</p>
        <input
          id="age-{{ $index }}"
          type="number"
          [formControlName]="$index"
          placeholder="00"
          maxlength="2"
          class="max-w-16 text-center inline"
        />

        } @else {
        <input
          id="age-{{ $index }}"
          type="number"
          [formControlName]="$index"
          placeholder="00"
          maxlength="2"
          class="max-w-16 text-center inline"
        />

        } }
      </span>

      <p>&#32;and I plan to fund&#32;</p>

      <div class="relative max-w-24 flex justify-center">
        <input
          id="percentage"
          type="number"
          formControlName="percentage"
          placeholder="100"
          maxlength="3"
          class="max-w-24 text-center !pr-7"
        />
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-5 h-5"
          >
            <path
              d="M21.7071 3.70711C22.0976 3.31658 22.0976 2.68342 21.7071 2.29289C21.3166 1.90237 20.6834 1.90237 20.2929 2.29289L2.29289 20.2929C1.90237 20.6834 1.90237 21.3166 2.29289 21.7071C2.68342 22.0976 3.31658 22.0976 3.70711 21.7071L21.7071 3.70711Z"
              fill="#0F0F0F"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11 6.5C11 8.98528 8.98528 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5ZM4.00693 6.5C4.00693 7.87689 5.12311 8.99307 6.5 8.99307C7.87689 8.99307 8.99307 7.87689 8.99307 6.5C8.99307 5.12311 7.87689 4.00693 6.5 4.00693C5.12311 4.00693 4.00693 5.12311 4.00693 6.5Z"
              fill="#0F0F0F"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M22 17.5C22 19.9853 19.9853 22 17.5 22C15.0147 22 13 19.9853 13 17.5C13 15.0147 15.0147 13 17.5 13C19.9853 13 22 15.0147 22 17.5ZM15.0069 17.5C15.0069 18.8769 16.1231 19.9931 17.5 19.9931C18.8769 19.9931 19.9931 18.8769 19.9931 17.5C19.9931 16.1231 18.8769 15.0069 17.5 15.0069C16.1231 15.0069 15.0069 16.1231 15.0069 17.5Z"
              fill="#0F0F0F"
            />
          </svg>
        </div>
      </div>

      <p>&#32;of their&#32;</p>
      <select
        name="collegeSelection"
        id="collegeSelection"
        formControlName="collegeSelection"
        [selectedIndex]="0"
        class="text-center"
      >
        @for(item of collegeTypes; track item) {
        <option [value]="item">{{ item }}</option>
        }
      </select>
      <p>&#32;college expenses. I have&#32;</p>

      <div class="flex flex-wrap gap-4">
        <div class="relative max-w-44 flex justify-center">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="w-5 h-5"
            >
              <style>
                .cls-1 {
                  fill: none;
                  stroke: #020202;
                  stroke-linecap: square;
                  stroke-miterlimit: 10;
                  stroke-width: 2.5px;
                }
              </style>
              <g id="dollar_1" data-name="dollar 1">
                <line class="cls-1" x1="12" y1="1.5" x2="12" y2="4.36" />
                <line class="cls-1" x1="12" y1="19.64" x2="12" y2="22.5" />
                <path
                  class="cls-1"
                  d="M6.27,16.77h0a2.87,2.87,0,0,0,2.87,2.87h4.77a3.82,3.82,0,0,0,3.82-3.82h0A3.82,3.82,0,0,0,13.91,12H10.09A3.82,3.82,0,0,1,6.27,8.18h0a3.82,3.82,0,0,1,3.82-3.82h4.77a2.87,2.87,0,0,1,2.87,2.87h0"
                />
              </g>
            </svg>
          </div>
          <input
            type="number"
            name="moneySaved"
            id="moneySaved"
            formControlName="moneySaved"
            placeholder="0"
            class="max-w-44 text-left !pl-7 dollar-icon-input-field"
          />
        </div>
      </div>

      <p>&#32;saved so far.</p>
    </div>

    <div class="flex !mt-8">
      <button
        type="submit"
        class="text-white text-center rounded-md flex-1 text-xl bg-primaryRed hover:bg-slate-500 active:text-primaryRed !disabled:bg-gray"
        [disabled]="!infoForm.valid"
      >
        Get Results
      </button>
    </div>
    <div class="!mt-5">
      @if(ages.invalid && ages.touched) {
      <p class="validation-message text-primaryRed">
        Ages must be between 0 and 17
      </p>
      } @if(percentage.invalid && percentage.touched) {
      <p class="validation-message text-primaryRed">
        Percentage must be between 1% and 100%
      </p>
      } @if(moneySaved.invalid && moneySaved.touched) {
      <p class="validation-message text-primaryRed">
        Money saved must be between 0 and $6,000,000
      </p>
      }
    </div>
  </form>
</div>
