<div
  class="w-auto border-4 border-primaryRed rounded-lg flex flex-col p-6 mb-8"
>
  <h3>How much do I need to save for college?</h3>

  <div>
    <form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
      <div class="flex justify-start items-center">
        <p>I have&#160;</p>
        <select
          name="numOfChildren"
          id="numOfChildren"
          formControlName="numOfChildren"
        >
          @for(item of childrenOptions; track item) {
          <option [value]="item">{{ item }}</option>
          }
        </select>
        @if(numOfChildren !== null && +numOfChildren > 1) {
        <p>&#160;children.</p>
        } @else {
        <p>&#160;child.</p>

        }
      </div>
      <button type="submit">SUBMIT ME</button>
    </form>
  </div>

  <div>
    <h4>Number of Children: {{ numOfChildren }}</h4>
  </div>
</div>
