/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: hero;
  src: url(assets/font/Hero-New-Regular.otf) format("opentype");
}

* {
  font-family: "hero", sans-serif;
}

h1 {
  font-weight: bold;
}
