<main class="flex justify-center">
  <div class="w-full max-w-[980px] p-5 !m-0">
    <app-header></app-header>
    <div [ngClass]="{ 'is-visible': showWarning, invisible: !showWarning }">
      <div class="flex flex-col bg-amber-100 p-6 align-top rounded-md">
        <p class="!m-0">
          Disclaimer: This calculator is a helpful tool for estimating college
          savings goals, but it does not provide personalized financial advice.
          We recommend consulting a qualified financial advisor to develop a
          savings plan tailored to your unique circumstances.
        </p>
        <button
          (click)="handleWarningDismiss()"
          class="mt-6 text-white text-center rounded-md bg-primaryRed hover:bg-slate-500 active:text-primaryRed"
        >
          I understand
        </button>
      </div>
    </div>

    <h1>College Savings Calculator</h1>
    <h2>Secure Their Future, Plan Ahead</h2>
    <h4>
      It's never too early to plan for your child's future. Our College Savings
      Calculator is here to help you estimate the funds needed for tuition,
      fees, room, and board, so you can confidently prepare for their
      educational journey.
    </h4>

    <div
      class="w-auto border-4 border-primaryRed rounded-lg flex flex-col p-6 mb-8 overflow-hidden"
    >
      <div
        [ngClass]="{ 'is-visible': showCalculator, invisible: !showCalculator }"
      >
        <app-calculator
          (formSubmitted)="handleFormSubmission($event)"
        ></app-calculator>
      </div>

      <div
        [ngClass]="{ 'is-visible': !showCalculator, invisible: showCalculator }"
      >
        <app-results [payload]="payloadToResult"></app-results>
        <div class="flex !mt-8">
          <button
            (click)="goBackToForm()"
            class="text-white text-center rounded-md flex-1 text-xl bg-primaryRed hover:bg-slate-500 active:text-primaryRed"
          >
            Edit Your Inputs
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
