<main class="flex justify-center">
  <div class="w-full max-w-[980px] p-5">
    <app-header></app-header>
    <h1>College Savings Calculator</h1>
    <h2>Secure Their Future, Plan Ahead</h2>
    <h4>
      It's never too early to plan for your child's future. Our College Savings
      Calculator is here to help you estimate the funds needed for tuition,
      fees, room, and board, so you can confidently prepare for their
      educational journey.
    </h4>
    <div
      [ngClass]="{ 'is-visible': showCalculator, invisible: !showCalculator }"
    >
      <app-calculator
        (formSubmitted)="handleFormSubmission($event)"
      ></app-calculator>
    </div>

    <div
      [ngClass]="{ 'is-visible': !showCalculator, invisible: showCalculator }"
    >
      <div>I am results!</div>
      <button (click)="goBackToForm()">Try Submitting Again</button>
    </div>
  </div>
</main>
