<main class="flex justify-center">
  <div class="w-full max-w-[980px] p-5">
    <app-header></app-header>
    <h1>College Savings Calculator</h1>
    <h2>Secure Their Future, Plan Ahead</h2>
    <h4>
      It's never too early to plan for your child's future. Our College Savings
      Calculator is here to help you estimate the funds needed for tuition,
      fees, room, and board, so you can confidently prepare for their
      educational journey.
    </h4>

    <div
      class="w-auto border-4 border-primaryRed rounded-lg flex flex-col p-6 mb-8"
    >
      <div
        [ngClass]="{ 'is-visible': showCalculator, invisible: !showCalculator }"
      >
        <app-calculator
          (formSubmitted)="handleFormSubmission($event)"
        ></app-calculator>
      </div>

      <div
        [ngClass]="{ 'is-visible': !showCalculator, invisible: showCalculator }"
      >
        <app-results [payload]="payloadToResult"></app-results>
        <div class="flex !mt-8">
          <button
            (click)="goBackToForm()"
            class="text-white text-center rounded-md flex-1 text-xl bg-primaryRed hover:bg-red-800 active:text-primaryRed"
          >
            Edit Your Inputs
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
